<div style="text-align:center">
  <h1>Student Progress Tracking Tool</h1>
</div>
<ul>
    <li>
      <%= link_to "Home", users_path %>
    </li>
    <li>
      <%= link_to "Students", students_path %>
    </li>  
    <li>
      <%= link_to "Courses", courses_path %>
    </li>
    <li>
      <%= link_to "Add User", new_user_path %>
    </li>

    <li>
      <%= link_to "Notes", comments_path %>
    </li>
  
    <li style="float:right">
      <%= button_to "Sign out", session_path(session[:user_id]), method: "delete", class: "sign-out-btn" %>
    </li>
  </ul>
  