<h1><%= @course.course_name %></h1>


 <table>
 <tr >

    <tr class="student-list-row">
      <th>Unit Name</th>
      <th>Unit Code</th>
      <th>Unit ID</th>
      <th>Action</th>

      <% @course.units.each do |unit| %>

        <tr class="student-list-row">
          <td class="student-list-item"><%= unit.unit_name %></td>
          <td class="student-list-item"><%= unit.unit_code %></td>
          <td class="student-list-item"><%= unit.id %></td>


          <td><%= link_to 'Show Task', unit_tasks_path(unit.id) %></td>
          <td><%= link_to 'Delete', delete_unit_unit_path(unit.id) %></td>

        </tr>
      <% end %>
    </tr>
 </tr>
</table>

<%= link_to "Add Unit", new_course_unit_path(@course) %>
  
  
