<p style="color: green"><%= notice %></p>

<%= render @student_task %>

<div>
  <%= link_to "Edit this student task", edit_student_task_path(@student_task) %> |
  <%= link_to "Back to student tasks", student_tasks_path %>

  <%= button_to "Destroy this student task", @student_task, method: :delete %>
</div>
