<h1> New Unit </h1>

<%= form_with model: [:course, @unit] do |form| %>
  <%= form.hidden_field :course_id, value: @unit.course_id %> 
  <div>
    <%= form.label :unit_name %><br>
    <%= form.text_field :unit_name %> 
  </div>

  <div>
    <%= form.label :unit_code %><br>
    <%= form.text_field :unit_code %> 
  </div>
  <div>
    <%= form.submit %>
  </div>  

<% end %>
